<p>id: <%= @sn_subscription.id %></p>
<p>endpoint: <%= @sn_subscription.endpoint %></p>
<p>p256dh: <%= @sn_subscription.p256dh %></p>
<p>auth: <%= @sn_subscription.auth %></p>
<p>created_at: <%= @sn_subscription.created_at %></p>
<p>updated_at: <%= @sn_subscription.updated_at %></p>
